* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #fff6e7;
}

nav {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0.3em;
}

nav img {
  width: 2.2em;
  height: 2.2em;
}

.nav-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: end;
}
.nav-menu div {
  flex: 1;
  background-color: #683514;
  opacity: 0.5;
}

.nav-item {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #fff6e7;
  padding: 1.5em 2.5em;
  gap: 1.5em;
}

.nav-item a {
  text-decoration: none;
}

.nav-menu.active {
  display: flex;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.article-one {
  padding-top: 6em;
  background: linear-gradient(to bottom, #ef7e1b, #ffffff);
}

.article-one h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 5em;
  text-shadow: -1px -1px 0 #2f2e2d, 1px -1px 0 #2f2e2d, -1px 1px 0 #2f2e2d,
    1px 1px 0 #2f2e2d;
  color: #fff6e7;
}

.article-one h2 {
  font-family: "Great Vibes", cursive;
  font-size: 3em;
  text-align: center;
  color: #683514;
  text-shadow: -1px -1px 0 #fff6e7, 1px -1px 0 #fff6e7, -1px 1px 0 #fff6e7,
    1px 1px 0 #fff6e7;
}

.article-one h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2em;
  text-align: center;
  padding-top: 3em;
}

.article-one img {
  width: 17em;
}

.article-one img:nth-of-type(2) {
  width: 21em;
}

.article-one p {
  padding-top: 2.6em;
  font-family: Arial, "Orbitron", Helvetica;
  text-align: center;
  font-size: 0.9em;
  color: #683514;
}

.article-two {
  max-width: fit-content;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  padding: 0;
  padding-top: 5em;
  align-items: center;
}

.article-two .article-bg {
  grid-column: 2/4;
  grid-row: 1/4;
  width: 100%;
  opacity: 0.5;
  z-index: -1;
}

.article-two div {
  grid-column: 2/3;
  grid-row: 2/3;
}

.article-two div h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2em;
  padding-left: 1em;
}

.article-two div p {
  padding: 1em 2em;
  font-family: Arial, "Orbitron", Helvetica;
  font-size: 0.9em;
  color: #683514;
}

.article-two div img {
  width: 20em;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: #ef7e1b;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #fff6e7;
}

footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer div img {
  width: 3em;
  height: 3em;
}

.copyrights {
  padding-top: 1.5em;

  font-size: 0.6em;
}
